body {
    background: linear-gradient(15deg, #d854c8, #27305e);
    color:  white;     
    font-family: monospace;
    font-size: large;
}

h1, h2 {
    color:  aquamarine;
    font-family: sans-serif;
}

b {
    color: greenyellow;
}

